__pycache__/
*.py[cod]
*$py.class

*.so

venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

.vscode/

*.db
*.sqlite3

.env

*.log

alembic/versions/

.pytest_cache/
.cache/

.mypy_cache/

htmlcov/
.coverage
.coverage.*

openapi.json

.DS_Store
